.main {
  width: 800px;
  margin: 0 auto;
}

.main-input-output {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.inputValue {
  width: 250px;
}

#input-value {
  margin-bottom: 5px;
}

.outputValue {
  width: 300px;
}


#graphic-count {
  position: absolute;
  top: 113px;
  transform: rotate(90deg);
  transform-origin: 0px 15px;
}

#graphic-power {
  position: absolute;
  top: 400px;
  padding-left: 360px;
  transform-origin: 0px 15px;
}